@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Encrypt";
}

                           
    <!-- Services Section -->
    <section id="encrypt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Encrypt your data</h2>
                    <h3 class="section-subheading text-muted">Let's get started!</h3>
                </div>
            
				<div class="panel-body">
				<h3 align="left"></h3>
					@if(IsPost)
                     {
                            var db = Database.Open("kryptokraft_db");
                            var sql = "";
                            
                            Random random = new Random();
                            string rand = random.Next(100000).ToString();
                            
                            var input_file = Request.Files[0];
                            
                            string input_filename = rand + "_" + Path.GetFileName(input_file.FileName);
                            string input_filepath = "~/UploadedFiles/file/" + input_filename;
                            input_file.SaveAs(Server.MapPath(input_filepath));
                            Utilities.Upsert(Server.MapPath(input_filepath), "E");
                            
                            var public_key_file = Request.Files[1];
                            string public_key_xml_str = new StreamReader(public_key_file.InputStream).ReadToEnd();
                            
                            string enc_af_key = KryptoKraft.encrypt(Server.MapPath(input_filepath), public_key_xml_str);
                            var enc_af_key_path = Server.MapPath("~/generated_keys/" + rand + "_enc_af_key.txt");
                            
                            File.WriteAllText(enc_af_key_path, enc_af_key);

                            input_filepath = Server.MapPath("~/f2_encrypted/encrypted_" + input_filename);
                            
                            db.Execute("insert into FILES(FILENAME, FILETYPE, CRT_DT) values(@0, 'E', getdate())", 
                                input_filepath
                            );

                            db.Execute("insert into FILES(FILENAME, FILETYPE, CRT_DT) values(@0, 'G', getdate())", 
                                enc_af_key_path
                            );
                            
                            string[] files = new string[2];
                            files[0] = input_filepath;
                            files[1] = enc_af_key_path;
                            string outp_zip_file = "~/UploadedFiles/file/" + rand + "_encryptedFiles.zip";

                            // ZIP the encrypted contents
                            Zipper.createZip(files, Server.MapPath(outp_zip_file));
                            
                            sql = "insert into encrypt(FILENAME, CRT_DT) values(@0, @1)";
                            
                            db.Execute("insert into FILES(FILENAME, FILETYPE, CRT_DT) values(@0, 'E', getdate())", 
                                Server.MapPath(outp_zip_file)
                            );
                            
                            <p id="msg">Encrypted Successfully</p>
                              <div >
                                <p>
                                  <a  href="@Href(outp_zip_file)">Download .zip Encrypted Files</a>
                                </p>
                              </div>
                     }
                     else
                     {
                         <form method="post" enctype="multipart/form-data">
                            <h4 align="left">File Input:</h4>
                            <input type="file" name="file1" required/>
                            <br/>
                            <hr/>
                            <h4 align="left">Receiver's Public Key:</h4>
                            <input type="file" name="file2"  accept=".xml" required/>
                            <br/>
                            <hr/>

                            <button type="submit" id="btnShow" class="btn btn-primary btn-xl">Encrypt File</button>
                            <button type="reset" class="btn btn-primary btn-xl">Reset</button>
                        </form>  
                     }
						                       
				</div>				
				
				<div class="col-lg-12 text-center">
				<br/>
					<a href="gkeys.cshtml" class="btn btn-primary btn-lg">Generate Keys</a>
					<a href="decrypt.cshtml#decrypt" class="btn btn-primary btn-lg">Decrypt Data</a>
					
                </div>
			</div>        
        </div>
    </section>


