
@{
    Page.Title = "Generate Keys";
    Layout = "~/_SiteLayout.cshtml";
}



    <!-- Services Section -->
    <section id="keys">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    
					<h2 class="section-heading">Generate your keys</h2>
                    <h3 class="section-subheading text-muted">Let's get you a new pair of keys to secure your data with us! ;)</h3>
                </div>
            
				<div class="panel-body">                        
				</div>
                @if(IsPost)
                {
                    var db = Database.Open("kryptokraft_db");
                    var sql = "";
                    Random random = new Random();
                    string rand = random.Next(100000).ToString();
                    
                    string public_key_path = "~/generated_keys/" + rand + "_publicKey.xml";
                    string private_key_path = "~/generated_keys/" + rand + "_privateKey.xml";

                    RSAKeys rsakeys1 = RSA.generateKeys();
                    
                    var userData = rsakeys1.publicKeyXml;
                    var dataFile = Server.MapPath(public_key_path);
                    File.WriteAllText(@dataFile, userData);

                    userData = rsakeys1.privateKeyXml;
                    dataFile = Server.MapPath(private_key_path);
                    File.WriteAllText(@dataFile, userData);

                    
                    sql = "insert into FILES(FILENAME, FILETYPE, CRT_DT) values(@0, 'G', getdate())";
                    db.Execute(sql, Server.MapPath(public_key_path));
                    
                    sql = "insert into FILES(FILENAME, FILETYPE, CRT_DT) values(@0, 'G', getdate())";
                    db.Execute(sql, Server.MapPath(private_key_path));
                    
                    string[] keys = new string[2];
                    keys[0] = Server.MapPath(public_key_path);
                    keys[1] = Server.MapPath(private_key_path);
                    string key_zip_file = "~/generated_keys/" + rand + "_GeneratedKeys.zip";

                    Zipper.createZip(keys, Server.MapPath(key_zip_file));
                    FileInfo file3 = new FileInfo(Server.MapPath(key_zip_file));
                    sql = "insert into FILES(FILENAME, FILETYPE, CRT_DT) values(@0, 'G', getdate())";
                    db.Execute(sql, Server.MapPath(key_zip_file));
                    
                    
                    <p>KEYS GENERATED. DOWNLOAD IT NOW:</p>
                             <p>
                                 <input type="radio" onchange="swapConfig(this)" name="urlOptions" id="zip" checked="checked" />
                                 <label for="zip">Download as .zip files</label>

                                 <input type="radio" onchange="swapConfig(this)" name="urlOptions" id="unzip" />
                                 <label for="zip">Download as Individual files</label>
                             </p>
                              <div id="zipSettings">
                                <p>
                                  <a  href="@Href(key_zip_file)">Download Generated Keys.zip</a>
                                </p>
                              </div>
                              <div id="unzipSettings" style="display:none">
                                <p>
                                  <a  href="@Href(public_key_path)">
                                      <img border="0" src="/img/puk_download.jpg" alt="Download Public Key">
                                    </a>

                                    <a  href="@Href(private_key_path)">
                                      <img border="0" src="/img/prk_download.jpg" alt="Download Private Key">
                                    </a>
                                </p>
                              </div>
                    
                     
                }
                else
                {
                    <form method="post" >
                        <button type="submit" class="btn btn-primary btn-xl">Generate Keys</button>
                    </form>  
                }
				
				<div class="col-lg-12 text-center">
				<br/>
					<a href="decrypt.cshtml#decrypt" class="btn btn-primary btn-lg">Decrypt Data</a>
					<a href="encrypt.cshtml#encrypt" class="btn btn-primary btn-lg">Encrypt Data</a>
					
                </div>
			</div>        
        </div>
    </section>
	