@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Help";
}

    <!-- Help Section -->
    <section id="help">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How To Use Our Website</h2>
                </div>

                <div class="panel-body">
                    <style type = "text/css">
                        p
                        {
                            font-size: 15pt;
                        }
                    </style>
                        <div class="column">
                             <img src="img/help/1.jpg" class="img-responsive img-centered" alt="">
                            
                             <p>1. The Secure page contains 3 buttons. Click them to go to each section.</p>
                        </div>
                    <br/>
                    <br/>
                        <div class="column">
                             <img src="img/help/2.jpg" class="img-responsive img-centered" alt="">
                             <p>2. Click the Generate Keys button to generate a public, private key pair.</p>
                        </div>
                    <br/>
                    <br/>
                        <div class="column">
                                 <img src="img/help/3.jpg" class="img-responsive img-centered" alt="">
                                 <p>3. You can download the keys as a .zip file or individually as .xml files.</p>
                            </div>
                    <br/>
                    <br/>
                        <div class="column">
                                 <img src="img/help/4.jpg" class="img-responsive img-centered" alt="">
                                 <p>4. In the Encrypt Section, upload the file that you want to encrypt and the receiver's public key.</p>
                            </div>
                    <br/>
                    <br/>
                        <div class="column">
                                 <img src="img/help/5.jpg" class="img-responsive img-centered" alt="">
                                 <p>5. Download your encrypted .zip file here.</p>
                            </div>
                    <br/>
                    <br/>
                        <div class="column">
                                 <img src="img/help/6.jpg" class="img-responsive img-centered" alt="">
                                 <p>6. In the Decrypt Section, upload the encrypted files .zip that you downloaded and your private key to decrypt the files.</p>
                            </div>
                    <br/>
                    <br/>
                        <div class="column">
                                 <img src="img/help/7.jpg" class="img-responsive img-centered" alt="">
                                 <p>7. Download your decrypted file from here.</p>
                        </div>
                </div>
            </div>
        </div>
    </section>