<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="Off" />
        <trace enabled="true" localOnly="false" pageOutput="false" requestLimit="500" traceMode="SortByTime" />
        <trust level="Full" />
	</system.web>
	
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlServerCe.4.0" />
            <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</DbProviderFactories>
	</system.data>
	
	<system.web>
		<compilation debug="true" />
		<!-- 1024MB in KILOBYTES, should match with 'maxAllowedContentLength' -->
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
	</system.web>
	
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- 1024MB in BYTES, default is 30000000 or approx. 28.6102 Mb-->
				<requestLimits maxAllowedContentLength="1073741824" /> 
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
